doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    script(src='/js/react.js')
    script(src='/js/react-dom.js')
    link(rel="shortcut icon" sizes="256x256" href="/assets/icon.png")
    block head

  body
    block content
